body {
  background-color: #f8f8f8;
}

.priority-1 {
  background-color: lightgreen;
}

.priority-2 {
  background-color: lightsalmon;
}

.priority-3 {
  background-color: #f3f167;
}

.w-45 {
  width: 45vw;
}
